@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-font: "Inter", sans-serif;

  --fw-bold: 800;
  --fw-semibold: 700;
  --fw-regular: 400;
  
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-32: 2rem;
  --fs-38: 2.4rem;
  --fs-48: 3rem;
  --fs-56: 3.55rem;

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --off-white: hsl(36, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

button {
  outline: none;
  border: none;
}

a,
button {
  cursor: pointer;
  transition: 0.3s ease;
}

.flex-div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: var(--fs-15);
  color: var(--dark-grayish-blue);
  background-color: var(--off-white);
  display: grid;
  place-items: center;
}

/*----NAVBAR-----*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.logo {
  font-size: var(--fs-48);
  font-weight: var(--fw-semibold);
}

.nav-items {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  padding: 0 1.2rem;
}

.nav-item a {
  color: var(--dark-grayish-blue);
}

.nav-item a:hover {
  color: var(--soft-red);
}

.menu-btn {
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../assets/images/icon-menu.svg) center no-repeat;
  z-index: 10;
}

/*----NAVBAR-----*/

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  padding: 0 1rem;
}

/*----INTRO-----*/

.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.web3-img {
 width: 100%;
}

.intro-title h1 {
  width: 90%;
  line-height: 1.1;
  color: var(--black);
  font-weight: var(--fw-bold);
  font-size: var(--fs-38);
}

.readmore-btn {
  margin-top: 1.5rem;
  color: var(--black);
  padding: 0.9rem 2rem;
  text-transform: uppercase;
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
  letter-spacing: 0.15rem;
  background-color: var(--soft-red);
}

.readmore-btn:hover {
  color: var(--white);
  background-color: var(--black);
}

/*----INTRO-----*/


/*----NEWS-----*/

.news {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1.5rem;
  background-color: var(--very-dark-blue);
}

.new-title {
  color: var(--soft-orange);
  font-size: var(--fs-32);
  font-weight: var(--fw-semibold);
}

.news-items {
  flex-direction: column;
  gap: 1rem;
}

.news-item {
  flex-direction: column;
  gap: 0.5rem;
  color: var(--white);
  padding: 1.5rem 0;
  color: var(--grayish-blue);
  border-bottom: 1px solid var(--grayish-blue);
}

.news-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.news-link {
  color: var(--white);
  font-size: var(--fs-20);
  font-weight: var(--fw-semibold);
}

.news-link:hover{ 
  color: var(--soft-orange);
}

/*----NEWS-----*/

/*----POPULAR-----*/

.popular {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
}

.popular-items {
  display: grid;
  gap: 2rem;
  flex-direction: row;
}

.popular-item {
  gap: 1.5rem;
}

.popular-item img {
  max-height: 8rem;
}

.pop-info {
  flex-direction: column;
  gap: 0.5rem;
}

.pop-number {
  color: var(--soft-red);
  font-size: var(--fs-32);
}

.popular-link {
  font-size: var(--fs-18);
  color: var(--black);
  font-weight: var(--fw-semibold);
}

.popular-link:hover {
  color: var(--soft-red);
}

@media (min-width: 900px) {
  /*----NAVBAR-----*/

  .navbar {
    width: 100%;
    padding: 3rem 10rem;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .sidebar {
    position: static;
    font-size: var(--fs-16);
    display: flex;
  }

  .menu-btn {
    display: none;
  }

  /*----NAVBAR-----*/

  .main {
    width: 100%;
    padding: 0 10rem 2rem 10rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      "intro intro news"
      "popular popular popular";
    grid-gap: 3.5rem 1.8rem;
  }

  /*----INTRO-----*/

  .intro {
    grid-area: intro;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      "img img"
      "title read";
    grid-gap: 2.2rem 1rem;
  }

  .web3-img {
    grid-area: img;
  }

  .read-more {
    grid-area: read;
  }

  .intro-title {
    grid-area: title;
  }

  .intro-title h1 {
    line-height: var(--fs-56);
    font-size: var(--fs-56);
  }

  /*----INTRO-----*/

  /*----NEWS-----*/

  .news {
    grid-area: news;
  }
  
  .new-title {
  font-size: var(--fs-38);
}

  /*----NEWS-----*/

  /*----POPULAR-----*/

  .popular {
    grid-area: popular;
  }

  .popular-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .popular-item {
    height: 8rem;
    flex-direction: row;
  }

  /*----POPULAR-----*/
}

@media (min-width: 700px) {
  .nav-items{
    display: flex;
    flex-direction: row;
  }
  
  .menu-btn{
    display: none;
  }
}

@media (max-width: 700px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    display: block;
    padding: 11rem 1.5rem 1.5rem;
    background-color: white;
    font-size: 1.3rem;
    box-shadow: -20px 20px 400px 200px rgba(0, 0, 0, 0.6);
  }
  
  [aria-expanded=true] {
      background: url(../assets/images/icon-menu-close.svg) center no-repeat;
  }
  
  .nav-item {
    padding: 0.5rem 0;
    color: var(--very-dark-blue);
  }
  
  .nav-items a {
    color: var(--very-dark-blue);s
  }
}
